@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

body {
  font-style: "Inter", sans-serif;
  overflow-x: hidden;
  position: relative;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1320px;
}

/* navbar css start*/
.nav-bg {
  background-color: #3b5d50;
}

.navbar-brand span {
  opacity: 0.4;
}
.navbar-brand {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}

.navbar-brand:hover {
  color: #fff;
}

.nav-item {
  padding-left: 20px;
}

.nav-item a {
  color: #a7b6b0 !important;
  font-weight: 500;
  display: inline-block;
}

.nav-item a:hover {
  color: #fff !important;
}

.nav-item a::after {
  content: "";
  width: 0px;
  height: 4px;
  display: block;
  background: #f9bf29;
  color: #ffffff;
  transition: 300ms;
}

.nav-item a:hover::after {
  width: 100%;
}

.nav-last-items li {
  margin-left: 28px;
}

.nav-last-items {
  display: flex;
  margin-left: 36px;
}

button[type="button"] {
  border: none;
  outline: none;
}
/* .nav-item a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px; 
  background-color: #f9bf29;
  transition: width 0.3s ease;
} */

/* .nav-item.active a {
  border-bottom: 4px solid #f9bf29;
} */

/* navbar css stop*/

/* hero section start css */
.hero-sec {
  background-color: #3b5d50;
  padding-top: 75px;
}

.left-sec-hero h1 {
  color: #fff;
  font-size: 54px;
  font-weight: 700;
  margin-top: 38px;
}

.left-sec-hero p {
  color: #a7b6b0;
  margin: 30px 0px;
  max-width: 100%;
  line-height: 28px;

  width: 452px;
  font-weight: 400;
  font-size: 15px;
}

.left-sec-hero > div a:first-of-type {
  color: #000;
  font-weight: 600;
  text-decoration: none;
  background-color: #f9bf29;
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 17px;
  border: 2px solid #f9bf29;
}
.left-sec-hero > div a:first-of-type:hover {
  background-color: #fff;
  border: 2px solid #f9bf29;
  transition: 0.2s ease;
}

.left-sec-hero > div a:last-of-type {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  background-color: #3b5d50;
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 17px;
  border: 2px solid #a7b6b0;
  margin-left: 12px;
}

.left-sec-hero > div a:last-of-type:hover {
  border: 2px solid #fff;
  transition: 0.2s ease;
}

.right-sec-hero img:first-of-type {
  /* position: absolute; */
  width: 777px;
  max-width: 100%;
  position: relative;
  z-index: 1;
}

.right-sec-hero::after {
  content: "";
  background-image: url(./src/images/dots-light.svg);
  width: 200px;
  height: 200px;
  position: absolute;

  top: 30px;
  right: 9px;
}

/* .right-sec-hero img:last-of-type {
  position: absolute;
  max-width: 100%;
  right: -80px;
  top: 30px;
} */

/* hero section stop css */

/* explore section start css */
.explore-sec {
  background-color: #eff2f1;
  padding: 80px 0px;
}

.exp-prod-btn {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  padding-bottom: 55px;
}

.exp-prod-btn:hover {
  color: #000;
}

.prod-title {
  font-weight: 600;
  font-size: 17px;
  transition: 0.3s all ease;
  margin-top: 10px;
}

.left-explore {
  margin-top: 30px;
}

.left-explore h2 {
  color: #2f2f2f;
}

.left-explore p {
  width: 330px;
  font-size: 15px;
  line-height: 28px;
  color: #6a6a80;
}

.left-explore a {
  color: white;
  font-weight: 600;
  background-color: #2f2f2f;
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 17px;
  display: inline-block;
}

.left-explore a:hover {
  color: #ffffff;
  background: #222222;
  border-color: #222222;
}

/* .exp-prod-btn > img {
  max-width: 100%;
} */

.exp-prod-btn:hover .prod-image {
  transform: translate(0, -25px);
}

.cross-sign {
  position: absolute;
  bottom: 66px;
  left: 133px;
}

.cross-sign > img {
  position: absolute;
  background-color: #2f2f2f;
  padding: 8px;
  border-radius: 50%;
  margin-top: 38px;
  opacity: 0;
  transition: 0.3s all ease;
  z-index: -1;
}

.exp-prod-btn:hover .cross-sign > img {
  z-index: 3;
  opacity: 1;
}

.exp-prod-btn::after {
  position: absolute;
  content: "";
  /* left: 0; */
  bottom: 11px;
  right: 0;
  left: 0;
  z-index: -1;
  background: #dce5e4;
  height: 0;
  transition: 0.3s all ease;
  opacity: 0.3;
  border-radius: 15px;
}

.exp-prod-btn:hover::after {
  height: 70%;
  z-index: 1;
}
/* explore section stop css */
/* choose us section start css */

.choose-us {
  background-color: #eff2f1;
  padding: 130px 0px;
}

.choose-us-heading > h2 {
  color: #2f2f2f;
}

.choose-us-heading > p {
  margin-bottom: 35px;
  max-width: 100%;
  width: 660px;
  font-size: 15px;
  line-height: 28px;
  color: #6a6a80;
}

.shipping-icons {
  position: relative;
  width: 60px;
  height: 42px;
}

.shipping-icons > img {
  position: absolute;
}

.shipping-icons::before {
  position: absolute;
  content: "";
  background: rgba(59, 93, 80, 0.2);
  bottom: -4px;
  right: 6px;
  width: 33px;
  border-radius: 50%;
  height: 33px;
}

.choose-us-feature h3 {
  font-size: 14px;
  color: #2f2f2f;
  margin-top: 15px;
}

.choose-us-feature p {
  font-size: 15px;
  line-height: 22px;
  color: #6a6a80;
}

.choose-us-img {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  height: 36rem;
  border: 1px solid red;
}

.choose-us-img > img {
  width: 31rem;
  border-radius: 20px;
  position: absolute;
}

.choose-us-img::before {
  position: absolute;
  content: "";
  background-image: url(./src/images/dots-yellow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: -100px;
  left: -60px;
  width: 250px;
  height: 250px;
}

/* choose us section stop css */

/* responsive css start */

@media screen and (max-width: 991px) {
  .nav-item {
    padding-left: 0;
  }

  .nav-last-items {
    margin-left: 0px;
  }

  .nav-last-items li {
    margin-left: 0px;
    margin-right: 25px;
  }
}
